div.ui.fixed.inverted.main.labeled.icon.menu
  h1.header.item J & R Web Shop
  a#menu_home.item(href="/index.html")
    i.home.icon
    p Home
  a#menu_jeet.item(href="/jeet/jeet.html")
    i.grid.layout.icon
    p Jeet
  div.right.menu
    a#menu_cart.item(href="/cart/cart.html")
      i.shop.icon
      p Cart
