div.ui.inverted.main.labeled.icon.menu
  h1.header.item J & R Web Shop
  a#menu_home.item(href="/index.html")
    i.home.icon
    p Home
  div.right.menu
    a#menu_cart.item(href="/cart/cart.html")
      i.shop.icon
      p Cart
