div.ui.fixed.inverted.main.labeled.icon.menu
  h1.header.item J & R Web Shop
  a#menu_home.item(href="/index.html")
    i.home.icon
    | Home
  a#menu_jeet.item(href="/jeet/jeet.html")
    i.grid.layout.icon
    | Jeet
  a#menu_animation.item(href="/animations/animations.html")
    i.css3.icon
    p CSS3 Animations
  div.right.menu
    a#menu_cart.item(href="/cart/cart.html")
      i.shop.icon
      | Cart
